.container {
  background: #ffffff;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.appwrapper {
  min-width: 50%;
  min-height: 650px;
  padding: 30px;
  box-sizing: border-box; 
  border-radius: 10px;
  box-shadow: 3px 6px 40px #000;
  margin-bottom: 10px;
}

.container_cards {
  display: flex;
}

.Card {
  background-color: #fff;
  border-radius: 10px;
  width: 50%;
  margin: 10px;
  border: 1px solid #e0e0e0;
}